/* src/layouts/AppLayout.css */

/* --- MOBILE FIRST (iPhone SE) --- */
.app-content-main {
  /* Just add padding for the fixed bars */
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

/* --- DESKTOP (Website) --- */
@media (min-width: 768px) {
  .app-content-main {
    /* Just add padding for the fixed bars */
    padding-left: 240px;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

/* --- NO NAVIGATION OVERRIDE --- */
.app-content-main.no-navigation {
  padding: 0 !important;
}